
<ul>
    {{#each burgers}}
    {{#if devoured}}
    {{/if}}
    {{/each}}
</ul>

<h2>Devoured Burgers</h2>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    {{/if}}
    {{/each}}
</ul>


<div class="form-group">
    <input type="text" id="burgername" name="name">
</div>

<button type="button" id="button">Submit Burger</button>
